<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Projects</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Software Development</b>. I am interested in building large scale software systems/applications. Although just starting out in the industry, I've worked on various course projects involving industry standard software development practices. As a result of my interest in developing software, I am always excited to learn and work on new technologies.
			  </li>
			  <li>
				  <b>Networking</b>. I was always fascinated in the field of computer networks and as a result I took related courses during my masters at UC Davis to broaden my knowledge in the field along with various software engineering courses. 
			  </li>
			  <li>
				  <b>Soccer</b>. I love playing soccer and never miss a chance to play. Most comfortable in the left wing, I sometimes also play as a defender. I believe Messi is the GOAT and for obvious reasons follow FC Barcelona.  
      </li>
			</ul>
      </div>
    </div>
  </div>
</section>
